@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    /*↓の指定はborder&paddingをwidthに含める文*/
    /*webkitは古いブラウザに対応させる。(今回はGoogle ChromeとSafariに対応)*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.jpg");
    font-family: 'Noto Sans JP', sans-serif;
    /*フッターを最下部に固定するため*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*パンくずリスト*/
.breadcrumb *, .breadcrumb *:after, .breadcrumb *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.breadcrumb {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem calc(100% - 90%);
	padding: 0.8rem 1rem;
	background-color: #999999;
	color: #fff;
	border-radius: 0.5rem;
}

.breadcrumb a{
    text-decoration: none;
	color: #4747c2e5;
}

.breadcrumb-items {
    list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.breadcrumb li {
	position: relative;
	padding-right: calc(16px + 8px);
	margin-right: 8px;
	color: #2685f1;
}

.breadcrumb li::before {
	content: '›';
	width: 1em;
	height: 1em;
	line-height: 1;
	text-align: center;
	font-size: 1.2em;
	color: inherit;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.breadcrumb li:last-child {
	margin-right: 0;
	padding-right: 0;
	color: #021a5c;
}

.breadcrumb li:last-child::before {
	content: normal;
}
/*-------ここまでパンくずリスト-------------*/

/*ヘッダー*/
header {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 2.5rem;/*remはhtmlのfontsize(16px)との比較*/
}

header a{
    color: #000;
    text-decoration: none;
}

header :hover{
    color: rgb(116, 116, 116);
}

/*フッター*/
footer {
    height: 10vh;
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: auto;
    background: rgb(246, 255, 255);
}

/*コンテナ*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(100% - 98%) calc(100% - 90%);
}

/*コンテンツの入れ物(main)*/
main{
    width: calc(100% - 25%);/*calcは演算子周りのスペース必須*/
    height: auto;
    border-radius: 10px;
    margin: calc(100% - 95%);
    padding: calc(100% - 98%);
    padding-top: 0;
    margin-top: calc(100% - 99%);
    background-color: rgb(246, 255, 255);
}

/*------------sampleページ(sample)-----------*/
/*アイテムタイトル*/
#contents-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 1rem;
}

.sub-title {
    font-size: 1.6rem;
    border-left: solid 15px rgb(155, 155, 155);
    box-shadow: 3px 2px 1px 1px rgb(100, 100, 100);
    padding-left: 1rem;
    margin: 2.5rem 0 1.5rem;
}

#comment {
    border-top: solid ;
    margin: 4rem 0 1rem;
}

.comment-title {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/*説明の部分*/
.description {
    font-size: 1.2rem;
    margin: 1rem 1rem;
}

/*補足*/
.supplement {
    margin: 0;
    margin-bottom: 0.7rem;
    font-size: 0.8rem;
    color: rgb(107, 107, 107);
}

/*キーワード*/
.keyword {
    color: red;
}

/*強調*/
.emphasis {
    font-size: 1.18rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(194, 194, 194);
    background:linear-gradient(transparent 70%, #FFFF00 0%);
}

/*下線強調*/
.bottom-line{
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px rgb(194, 194, 194);
    display: inline-block;
    margin-top: 0.5rem;;
    padding: 0 0.5rem;
    border-bottom: solid thin #000;
}

/*並べる*/
.parallel {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

/*参考ページ*/
.reference-page *{
    list-style-type: none;
    margin: 0.2rem 0.5rem;
}

/*-----------サイドバー関連(side)----------------*/
aside {
    width: calc(100% - 75%);
    height: auto;
    display: flex;
    flex-flow: column;
}

#sideber > div {
    width: 100%;
    background-color: rgb(246, 255, 255);
    margin: 10px 0;
    padding: 10px;
}

/*サイト内検索*/
#search-contents {
    border-radius: 20px;
    height: 100px;
}

/*更新情報*/
#updated-info {
    height: 400px;
    overflow-y: scroll;
    scrollbar-color: rgb(68, 68, 68) rgb(211, 211, 211);
}

#updated-title {
    text-align: center;
    text-shadow: 2px 2px 2px #808080;
    font-size: 1.2rem;
    border-bottom: solid 2px #636363;
    padding-bottom: 2px;
}

.updated_content {
    margin: 10px 0;
    padding: 4px 0;
    border-top: dashed thin #999999;
    border-bottom: dashed thin #999999;
}

.date {
    font-size: 1.2rem;
}

.date:after {
    font-size: 1.4rem;
    content: " :  "
}


/*アイテムのメディアクエリ仮置き*/
/*959px以下の画面サイズの時に反映*/
@media screen and (max-width: 959px){

    .item-title{
        font-size: 1rem;   
    }

    .container {
        margin: 0.5%;
    }

    main {
        width: 100%;
    }

    aside {
        display: none;
    }
    
}

@media screen and (max-width: 500px){
    html {
        font-size: 12px;
    }
    
}