#display {
    height: 30rem;  /*一時的*/
    width: 100%;
}

#card-area {
    height: calc(100% - 60%);
    text-align: center;
}

#com-area, #player-area{
    height: calc(100% - 70%);
    border: solid;
}

#com-area *, #player-area * {
    display: inline-block;
}