/*テーブル関連*/
table {
    margin: 2rem auto;
    border-collapse: collapse;  /* セルの線を重ねる*/
}

.cell {
    padding: 0;
    border: solid;
    height: 110px;
    width: 110px;
}

.order:hover, .cell:hover, #reload:hover{
    background: rgb(211, 211, 211);
}

/*表示する画面*/
#display {
    width: calc(100% - 10%);
    height: 5rem;
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;
    color: rgb(73, 73, 73);
    border-radius: 10px;
    border: solid rgb(190, 190, 190);
}

#display p {
    font-size: 2rem;
}

/*フィールド*/
#field {
    height: 400px;
}

.order, #reload{
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    font-size: 3rem;
    border: solid;
    border-radius: 10px;
}

/*状態*/
.event-none {
    pointer-events: none;
}

.is-hidden {
    display: none;
}

/*調整*/
img {
    vertical-align: bottom; /*要素を下橋揃えにする*/
}

li {
    margin-left: 0.5rem;
}

p {
    font-size: 1.2rem;
}

@media screen and (max-width: 600px){
    #display {
        height: 4rem;
    }

    #display p {
        font-size: 1.5rem;
    }    
}
