/*テーブル関連*/
table {
    margin: 2rem auto;
    border-collapse: collapse;  /* セルの線を重ねる*/
}

.cell {
    padding: 0;
    border: solid;
    height: 110px;
    width: 110px;
}

.cell:hover{
    background: rgb(211, 211, 211);
}

#display {
    width: calc(100% - 10%);
    height: 5rem;
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 2rem;
    color: rgb(73, 73, 73);
    border-radius: 10px;
    border: solid rgb(190, 190, 190);
}

#field {
    height: 400px;
}

#field .first-second {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    font-size: 3rem;
    border: solid;
    border-radius: 10px;
}

.event-none {
    pointer-events: none;
}

.is-hidden {
    display: none;
}

.is-visible {
    
}

/*調整*/
img {
    vertical-align: bottom; /*要素を下橋揃えにする*/
}

li {
    margin-left: 0.5rem;
}

p {
    font-size: 1.2rem;
}