.calculator{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 191);
    border: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px
}

.display{
    font-size: 20px;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    padding: 7px 10px;
    text-align: right;
}

.keys-row *{
    flex-wrap: nowrap;
    background-color: blueviolet;
}

