img {
    border: solid rgb(128, 128, 128) thin;
}

#screen {
    height: 40rem;  /*一時的*/
    width: 100%;
    position: relative;
}

#card-area {
    height: calc(100% - 60%);
    text-align: center;
    position: relative;
}

.win-or-loss-text {
    width: 40%;
    background: rgba(216, 216, 216, 0.7);
    font-size: 3.5rem;
    color: rgb(255, 97, 97);
    padding: 0.2rem 1rem;
    border: solid thin black;
    border-radius: 10px;
    white-space: nowrap;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
                            
#com-area, #player-area{
    height: calc(100% - 70%);
    text-align: center;
    border: solid;
}

#com-area *, #player-area * {
    display: inline-block;
}

.com-hand, .player-hand {
    width: calc(100% / 6);
    height: 100%;
}

.com-hand *{
    border: none;
}

.com-hand img, .player-hand img {
    width: auto;
    height: 100%;
}

.play-com-card, .play-player-card {
    height: 100%;
    width: 49.5%;
    display: inline-block;
    position: relative;
    border: solid red;
}

.play-com-card {
    border: solid blue;
}

.play-com-card img, .play-player-card img {
    width: auto;
    height: 100%;
}

.number {
    font-size: 5.5rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
    opacity: 0.75;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.number-com {
    color: blue;
    left: 20%;
}

.result-screen {
    height: auto;
    width: 70%; min-width: 60%; max-width: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgb(221, 221, 221);
    border: solid thick;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-title {
    font-size: 2.5rem;
    margin: 1rem 0 0.5rem;
}

.result-text {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.result-earn-number{
    width: auto;
    font-size: 1.5rem;
    display: inline-block;
    
    border-bottom: solid thin;
}

.result-earn-number .player {
    color: red;
}

.result-earn-number .com {
    color: blue;
}

.result-win-or-loss {
    font-size: 2.5rem;
    padding: 1rem 0.5rem;
}

.page-transition {
    width: 100%; max-width: 300px;
    font-size: 2rem;
    display: inline-block;
    border: solid thin;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.1rem 1rem;
}

.page-transition:hover {
    background: rgb(199, 199, 199);
}

.end {
    pointer-events: none;
    display: none;
}

.event-none{
    pointer-events: none;
    filter: brightness(80%);
}