/*電卓全体*/
.calculator {
    width: calc(100% - 10%);
    height: auto;
    background: rgb(28, 32, 31);
    border: rgb(31, 35, 61);
    border-radius: 10px;
    padding: 10px
}

/*出力画面*/
.display{
    width: auto;
    height: 80px;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    border-radius: 10px;
    background: #fff;
    padding: 7px 10px;
    text-align: right;
}

/*式*/
.sub-disp {
    height: calc(100% - 70%);
    font-size: 20px;
    filter: saturate(70%);
}

.main-disp{
    font-size: 30px;
    height: calc(100% - 30%);
    padding-top: calc(100% - 99%);
}

/*キー場所*/
.keys {
    width: 100%;
}

/*ボタン*/
td * {
    height: 55px;
    width: 100%;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
